*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
  
}

header {
    height:100px;
    background-color:#000;
    color: #fff;
}

.header{
    max-width: 1140px;
    height:100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.logoimg img{
    width: 80px;
    height: 80px;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;/*colocar menu para final*/
}
